.icon {
  position: relative;
  left: 50vw;
  width: 0;
  top: 50vh;
  text-align: center;
  cursor: pointer;
}

.bar {
  position: absolute;
  transform: translate(-50%, -50%);
  /*align-items: center;*/
  top: -10px;

  background-color: #f98866;
  width: 20px;
  height: 20px;
  margin: 5px 0;
  border-radius: 10px;
  transition: 0.3s;
  animation: dope 1.5s ease-in-out 0s infinite;
}

.bar.one {
  background-color: #3498db;
  margin-left: -60px;
}

.bar.two {
  background-color: #e74c3c;
  margin-left: -20px;
}

.bar.three {
  background-color: #f1c40f;
  margin-left: 20px;
}

.bar.four {
  background-color: #2eb869;
  margin-left: 60px;
}
